{% extends 'base.html.twig' %}

{% block title %}Conge index{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <h1 style="margin-top:29px; margin-bottom:49px;">Liste de mes demandes de congé </h1>

                <table class="table table-striped mb-4">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Date debut</th>
                            <th>Date fin</th>
                            <th>Motif</th>
                            <th>Etat</th>
                            <th>Créé le</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for conge in conges %}
                        <tr>
                            <td>{{ conge.id }}</td>
                            <td>{{ conge.utilisateur.prenom }}</td>
                            <td>{{ conge.utilisateur.nom }}</td>
                            <td>{{ conge.dateDebut ? conge.dateDebut|date('d/m/Y H:i:s') : '' }}</td>
                            <td>{{ conge.dateFin ? conge.dateFin|date('d/m/Y H:i:s') : '' }}</td>
                            <td>{{ conge.motif }}</td>
                            <td>
                                {% if conge.etat is same as(null) %}
                                    <div class="alert alert-info" style="text-align:center">
                                        {{ 'En cours' }}
                                    </div>
                                {% elseif conge.etat == 1 %}
                                    <div class="alert alert-success" style="text-align:center">
                                        {{ 'Accepté' }}
                                    </div>
                                {% elseif conge.etat == 0 %}
                                    <div class="alert alert-danger" style="text-align:center">
                                        {{ 'Refusé' }}
                                    </div>
                                {% endif %}
                            </td>
                            <td>{{ conge.createdAt ? conge.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            <td>
                                {% if conge.etat is same as(null) %}
                                <a href="{{ path('conge_edit', {'id': conge.id}) }}" class="btn btn-outline-secondary btn-block">Editer</a>
                                <a href="{{ path('conge_show', {'id': conge.id}) }}" class="btn btn-outline-primary btn-block">Voir</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!--a href="{{ path('conge_new') }}" class="btn btn-primary">Demander un nouveau congé</a-->    
            </div>
        </div>
        
    </div>
{% endblock %}
