{% extends 'base.html.twig' %}

{% block title %} Mon profil {% endblock %}

{% block stylesheets %}
    <style>
        th, td {
            text-align:center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-4">
                <h1 class="mt-5 mb-5" style="text-align:center;">Mes données.</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Fonction</th>
                            <th>E-mail</th>
                            <th>Téléphone</th>
                            <th>Rôle(s)</th>
                            <th>Congés</th>
                            <th>Permissions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if utilisateur %}
                        <tr>
                            <td>{{ utilisateur.id }}</td>
                            <td>
                                {{ utilisateur.nom }}
                                <br>
                                {{ utilisateur.prenom }}
                            </td>
                            <td>{{ utilisateur.fonction }}</td>
                            <td>{{ utilisateur.email }}</td>
                            <td>{{ utilisateur.telephone }}</td>
                            <td>
                                {% for role in utilisateur.roles %}
                                    {% if role =='ROLE_USER' %}
                                        Utilisateur
                                    {% elseif role == 'ROLE_MODO' %}
                                        Modérateur <br>
                                    {% elseif role == 'ROLE_ADMIN' %}
                                        Administrateur <br>
                                    {% endif %}
                                {% endfor %}
                                {#{ utilisateur.roles ? utilisateur.roles|json_encode : '' }#}</td>
                            <td style="text-align:center;">{{ utilisateur.nbConges | number_format(1, '.', ' ') }}</td>
                            <td style="text-align:center;">{{ utilisateur.nbPermissions |number_format(1, '.', ' ') }}</td>
                            <td>
                                <a href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-primary btn-block" target="parent">Afficher</a>
                                <a href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning btn-block" style="color:white" target="parent">Editer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="11">Aucun utilisateur trouvé.</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <a href="{{ path('change_password', {'id': utilisateur.id})}}">changer mon mot de passe</a>
            </div>
        </div>
    </div>
{% endblock %}
