{% extends 'base.html.twig' %}

{% block title %}Permission index{% endblock %}

{% block body %}
    <h1 class="mt-4">Permission index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date debut</th>
                <th>Date fin</th>
                <th>Motif</th>
                <th>Etat</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permission in permissions %}
            <tr>
                <td>{{ permission.id }}</td>
                <td>
                    {{ permission.utilisateur.nom }} <br>
                    {{ permission.utilisateur.prenom }} <br>
                </td>
                <td>{{ permission.dateDebut ? permission.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ permission.dateFin ? permission.dateFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ permission.motif }}</td>
                <td>{{ permission.etat ? 'Yes' : 'No' }}</td>
                <td>{{ permission.createdAt ? permission.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_permission_show', {'id': permission.id}) }}" target="parent" class="btn btn-primary">Voir</a>
                    <a href="{{ path('admin_permission_edit', {'id': permission.id}) }}" target="parent" class="btn btn-warning" style="color:white;">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--a href="{{ path('permission_new') }}">Create new</a-->
{% endblock %}
